extends layout

block content
    div(class="container")
      header(class="jumbotrom hero-spacer")
      div(class="thumbnail")
        div(class="caption")
          h2 TrivialOnline.bo
          p Reta a tus amigos con el juego de preguntas multijugador en tiempo real
      
      div(class="row")
        div(class="col-lg-12")        
          div(class="thumbnail")
            div(class="caption")
              a(class="btn btn-primary btn-large btn-block" href="/creaciondepartidas/") Crear una Partida
      div(class="row text-center")
        h4 Lista de Partidas
        div(class="row text-center")
          div(class="col-md-3 col-sm-4 hero-feoture")
            div(class="thumbnail")
              
              div(class="caption")
                h3 Arte y Literatura
                p Partida:Nombre
                p Jugadores: 1 de maximo
                p Temas:todos
                p Numero de preguntas:10
                p Tiempo maximo:10 seg
                  li(class="active")
                    a(href="/game" class="btn btn-primary") Entrar
          div(class="col-md-3 col-sm-4 hero-feoture")
            div(class="thumbnail")
              
              div(class="caption")
                h3 Historia
                p Partida:Nombre
                p Jugadores: 1 de maximo
                p Temas:todos
                p Numero de preguntas:10
                p Tiempo maximo:10 seg
                  li(class="active")
                    a(href="/game" class="btn btn-primary") Entrar
          div(class="col-md-3 col-sm-4 hero-feoture")
            div(class="thumbnail")
            
              div(class="caption")
                h3 Geografia
                p Partida:Nombre
                p Jugadores: 1 de maximo
                p Temas:todos
                p Numero de preguntas:10
                p tiempo maximo:10 seg
                  li(class="active")
                    a(href="/game" class="btn btn-primary") Entrar
          div(class="col-md-3 col-sm-4 hero-feoture")       
            div(class="thumbnail")
              div(class="caption")
                h3 Ciencia
                p Partida:Nombre
                p Jugadores: 1 de maximo
                p Temas:todos
                p Numero de preguntas:10
                p Tiempo maximo:10 seg
                  li(class="active")
                    a(href="/game" class="btn btn-primary") Entrar
        
        footer
            div(class="row")
              div(class="col-lg-12")
                p Juega TriviaOnline.bo
     
