extends layout
block content
 form(id="registro",class="form-horizontal")
  div(class="control-group")
   label(class="control-label") Nick name:
   input(type="text",placeholder ="nickname")
  input(type="text",placeholder ="Nombre")
  input(type="text",placeholder ="Pais")
  input(type="text",placeholder ="Password")
  input(type="password",placeholder ="Password")
  input(type="password",placeholder ="Re. Password")
  button(type="submit" class="btn") Enviar